<div class="nav-links">
  <a href="/" class="home-link">Home</a>
  <a href="/recently-played?access_token=<%= access_token %>" class="nav-link">Recently Played</a>
  <a href="/top-tracks?access_token=<%= access_token %>" class="nav-link">Top Tracks</a>
  <a href="/top-artists?access_token=<%= access_token %>" class="nav-link">Top Artists</a>
  <a href="/top-albums?access_token=<%= access_token %>" class="nav-link">Top Albums</a>
  <a href="/generate-playlist?access_token=<%= access_token %>" class="nav-link">Generate Playlist</a>
</div>
