<!DOCTYPE html>
<html>
  <head>
    <title>Recently Played Songs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/tracks.css">
  </head>
  <body>
    <div class="tracks-container">
      <header>
        <h1>Recently Played Tracks</h1>
        <%- include('partials/nav', { access_token }) %>
      </header>
      <div class="tracks-list">
        <% items.forEach(item => { %>
          <% const track = item.track; %>
          <% const album = track.album; %>
          <% const playedAt = new Date(item.played_at); %>
          <% const formattedDate = playedAt.toLocaleString(); %>
          
          <div class="track-item">
            <a href="<%= track.external_urls.spotify %>" target="_blank" title="Play <%= track.name %> on Spotify">
              <img src="<%= album.images[2]?.url || album.images[0].url %>" alt="<%= album.name %>" class="album-img" />
            </a>
            <div class="track-info">
              <div class="track-name"><%= track.name %></div>
              <div class="artist-name">
                <% track.artists.forEach((artist, index) => { %>
                  <a href="<%= artist.external_urls.spotify %>" target="_blank" class="artist-link"><%= artist.name %></a><%= index < track.artists.length-1 ? ', ' : '' %>
                <% }); %>
              </div>
              <div class="album-name">
                <a href="<%= album.external_urls.spotify %>" target="_blank" class="album-link"><%= album.name %></a>
              </div>
            </div>
            <div class="track-meta">
              <div><%= formattedDate %></div>
              <a href="<%= track.external_urls.spotify %>" class="spotify-link" target="_blank">Play</a>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
